name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest
       # Run job for both python versions in the docker image

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    # Fix ownership of the checkout dir
    - name: Set ownership
      run: |
        chown -R $(id -u):$(id -g) $PWD
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools twine build
    - name: Install cibuildwheel
      run: |
        python -m pip install --upgrade cibuildwheel      
    - name: Build sdist
      run: |
        python -m build --sdist
    - name: Build wheel(s)
      run: |
        python -m cibuildwheel --output-dir wheelhouse
    - name: Publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/*.tar.gz
        twine upload wheelhouse/*
